body {
  background: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1,h2,h3{line-height:1.2}


header {
  background: #1f1d1d;
  color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1, h2, p {
  margin: 0;
  padding: 0;
}


main {
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


p {
  margin: 10px 0;
}
