*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    /* outline: 1px solid lime; */
}

img, svg, picture, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
}

html {
    color-scheme: dark light;
    scroll-behavior: smooth;
}


header {
    background: #f7f7f7;
    color: #1f1f1f;
    padding: 2em 0;
    position: relative;
}

header::after {
    content: "";
    clear: both;
    display: block;
  }


.container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    margin: 0 auto;
    max-width: 62.5rem;
    padding: 0 1rem;
}



.main-nav{
    font-size: 1.4rem;
}

.main-nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.main-nav > ul > li {
    margin-left: 0rem;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

.art {
    background: #ffffff;
    color: #1f1f1f;
    padding-top: 3rem;
    padding-bottom: 3rem;
}





.wprowadzenie {
    background: rgb(228, 66, 2);
    border-radius: 25px;
    color: #f7f7f7;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.hero {
    font-size: 2em;
    line-height: normal;
    font-weight: 700;
    padding-bottom: 1.5rem;

    width: 610px;
}

.mojezdjecie {
    /* position: relative;
    margin-right: 4px;
    border-radius: 25px; */

    align-self: start;
    background: #fff;
    border: .5em solid #fff;
    border-radius: .5em;
    -webkit-box-shadow: 0 .5em 1em rgba(0,0,0,.15);
    box-shadow: 0 .5em 1em rgba(0,0,0,.15);
    grid-area: image;
    overflow: hidden;

    height: 400px;
    width: 320px;
    object-fit: cover;

}



@media screen and (min-width: 769px) {
    
    .hero {

        font-size: 3rem;

    }



}